@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v28-latin_cyrillic-regular.woff2')format('woff2'), url('../fonts/raleway-v28-latin_cyrillic-regular.woff')format('woff');
}

img {
    max-width: 100%;
    height: auto;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body, html {
    height: 100%;
    margin: 0;
    
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}

.container {
    max-width: 1312px;
    padding: 0 48px;
    margin: 0 auto;
}

@media (max-width: 560px) {
    .container {
        padding: 0 24px;
    }
}



form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-top: 20px;
   
}

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    .form-group input,
    .form-group select {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    button:hover {
        background-color: #0056b3;
    }

.footer__container {
    padding: 17px;
    padding-bottom: 42px;
    border-top: 1px solid #BFBDB2;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    align-items: center;
    gap: 40px;
}

.footer__navigation {
    justify-self: center;
}

.footer__developer {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    font-size: 12px;
    line-height: 100%;
}

.footer__developer-link {
    color: initial;
    text-decoration: none;
}

    .footer__developer-link:hover {
        text-decoration: underline;
        color: #BFBDB2;
    }

.footer__copyright {
    margin: 0;
    font-size: 12px;
    line-height: 100%;
}

@media (max-width: 560px) {
    .footer__container {
        grid-template-columns: 1fr;
        gap: 32px;
    }

    .footer__navigation {
        justify-self: flex-start;
    }

    .footer__developer {
        font-size: 10px;
    }

    .footer__copyright {
        font-size: 10px;
    }
}
